In [1]:
print("Hello There")

Hello There

In [2]:
"""
  sample Comments
"""

'\n  sample Comments\n'

We use print() frequently in any code snippet. We assume that we are working on a server site and print() will help us to find any error in our $log$ file.

In [3]:
cse_4_2 = [1, 2, 3, 4]
print(cse_4_2)
print(type(cse_4_2))

[1, 2, 3, 4]
<class 'list'>

In [4]:
for i in range(len(cse_4_2)):
    print(i)

0
1
2
3

In [5]:
list1 = [1, 2, 3, 0, 5, 6]

# # any will return true if any of the sequence values are true
print(any(list1))

# # all will return true only if all values are true
print(all(list1))

True
False

In [6]:
# # min and max will return minimum and maximum values in a sequence
print("min: ", min(list1))
print("max: ", max(list1))
# #
# # Use sum() to sum up all of the values in a sequence
print("sum: ", sum(list1))

min:  0
max:  6
sum:  17

In [7]:
# Iterating Over the Items of a List
L = ['Tony was chased', 'Bruce was angered', 'Steven was scared ']
# print each string in the list L
for x in L:
    print(x)

Tony was chased
Bruce was angered
Steven was scared

In [8]:
#@title 0, 1, 2
for i in range (len (L)):
    L[i] = L[i] + ' by zombies.'

for x in L:
    print(x)

Tony was chased by zombies.
Bruce was angered by zombies.
Steven was scared  by zombies.

In [9]:
x = [1, 2, 3]
x.append([4, 5])
print(x)
x.extend([8, 9])
print(x)

[1, 2, 3, [4, 5]]
[1, 2, 3, [4, 5], 8, 9]

In [10]:
# # define a list of days in English and French
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
daysFr = ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"]
# # use regular interation over the days
for m in range(len(days)):
    print(m + 1, days[m])

1 Sun
2 Mon
3 Tue
4 Wed
5 Thu
6 Fri
7 Sat

In [11]:
# using enumerate reduces code and provides a counter
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]

for i, m in enumerate(days, start=1):
    print(i, m)

1 Sun
2 Mon
3 Tue
4 Wed
5 Thu
6 Fri
7 Sat

In [12]:
# # use zip to combine sequences
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
daysFr = ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"]

for m in zip(days, daysFr):
    print(m)

('Sun', 'Dim')
('Mon', 'Lun')
('Tue', 'Mar')
('Wed', 'Mer')
('Thu', 'Jeu')
('Fri', 'Ven')
('Sat', 'Sam')

In [13]:
for i, m in enumerate(zip(days, daysFr), start=1):
    print(i, m[0], "=", m[1], "in French")

1 Sun = Dim in French
2 Mon = Lun in French
3 Tue = Mar in French
4 Wed = Mer in French
5 Thu = Jeu in French
6 Fri = Ven in French
7 Sat = Sam in French

In [14]:
for jj, em in enumerate(days, start=11):
    print(em, jj)

Sun 11
Mon 12
Tue 13
Wed 14
Thu 15
Fri 16
Sat 17

In [15]:
'''
    Tuples are identical to lists, with the following exceptions:
        Tuples are immutable.
        Tuples are written with parentheses instead of square brackets.
'''
for i, m in enumerate(zip(days, daysFr), start=1):
    print(m, type(m))

('Sun', 'Dim') <class 'tuple'>
('Mon', 'Lun') <class 'tuple'>
('Tue', 'Mar') <class 'tuple'>
('Wed', 'Mer') <class 'tuple'>
('Thu', 'Jeu') <class 'tuple'>
('Fri', 'Ven') <class 'tuple'>
('Sat', 'Sam') <class 'tuple'>

In [16]:
# use iter to create an iterator over a collection
i = iter(days)
print(next(i))  # Sun
print(next(i))  # Mon
print(next(i))  # Tue

Sun
Mon
Tue

Demonstrate how to use set comprehensions

In [17]:
ctemps = [5, 10, 12, 14, 10, 23, 41, 30, 12, 24, 12, 18, 29]

# build a set of unique Fahrenheit temperatures
ftemps1 = [(t * 9/5) + 32 for t in ctemps]
ftemps2 = {(t * 9/5) + 32 for t in ctemps}

print(ftemps1, type(ftemps1)) # Did you think both are the same?
print(ftemps2, type(ftemps2))

[41.0, 50.0, 53.6, 57.2, 50.0, 73.4, 105.8, 86.0, 53.6, 75.2, 53.6, 64.4, 84.2] <class 'list'>
{64.4, 73.4, 41.0, 105.8, 75.2, 50.0, 84.2, 53.6, 86.0, 57.2} <class 'set'>

#build a set from an input source
sTemp = "The quick brown fox jumped over the lazy dog"

In [18]:

# build a set from an input source
sTemp = "Ahsanullah University of Science and Technology"
chars1 = {c for c in sTemp if not c.isspace()}
chars = {c.upper() for c in sTemp if not c.isspace()}

print(len(chars1) )
print(chars1)
print(len(chars), type(chars))
print(chars)

21
{'t', 'r', 'f', 'v', 'h', 'n', 'o', 'l', 'e', 'a', 'd', 'u', 'i', 'S', 'A', 'y', 'g', 's', 'c', 'T', 'U'}
17 <class 'set'>
{'S', 'L', 'C', 'Y', 'A', 'G', 'I', 'R', 'D', 'N', 'V', 'T', 'F', 'H', 'O', 'E', 'U'}

# Lambda expression

* lambda arguments : expression
* anonymous functions; accept multiple arguments but expression should be one

In [19]:
lambda_test = lambda a : a + 10
print(lambda_test(5))

new_lambda_test = lambda q, w, y, z : q + w + y + z + 10
print(new_lambda_test(20, 20, 20, 20))

pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1]) # Look carefully..
print(pairs)

pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[0])
print(pairs)

15
90
[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]
[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [20]:
mult3 = list(filter(lambda x: x % 3 == 0, [1, 2, 3, 4, 5, 6, 7, 8, 9]))
print(mult3)
print(type(mult3))

[3, 6, 9]
<class 'list'>

In [21]:
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(45)
print(f(2))

47

# Demonstrate how to use list comprehensions

In [22]:
# define two lists of numbers
evens = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
odds = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Derive a new list of numbers frm a given list
evenSquared = [e ** 2 for e in evens]
print(evenSquared)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

The **map()** function executes a specified function for each item in a iterable. The item is sent to the function as a parameter.

In [23]:
# # Perform a mapping and filter function on a list
evenSquared = list(map(lambda e: e**2, filter(lambda e: e > 4 and e < 16, evens)))
print(evenSquared)

[36, 64, 100, 144, 196]

In [24]:
evenSquared_new = [e ** 2 for e in evens if e > 4 and e < 16]
print(evenSquared_new)

[36, 64, 100, 144, 196]

In [25]:
# Limit the items operated on with a predicate condition
oddSquared = [e ** 2 for e in odds if e > 3 and e < 17]
print(oddSquared)

[25, 49, 81, 121, 169, 225]

# Demonstrate the usage of Counter objects

In [26]:
# A Counter is a container that keeps track of how many times equivalent values are added

from collections import Counter

# list of students in class 1
class1 = ["Bob", "James", "Chad", "Darcy", "Penny", "Hannah"
          "Kevin", "James", "Melanie", "Becky", "Steve", "Frank"]

# list of students in class 2
class2 = ["Bill", "Barry", "Cindy", "Debbie", "Frank",
          "Gabby", "Kelly", "James", "Joe", "Sam", "Tara", "Ziggy"]

# Create a Counter for class1 and class2
c1 = Counter(class1)
c2 = Counter(class2)

# How many students in class 1 named James?
print(c1["James"])

2

In [27]:
# How many students are in class 1?
print(sum(c1.values()), "students in class 1")

# Combine the two classes
c1.update(class2)
print(sum(c1.values()), "students in class 1 and 2")

# What's the most common name in the two classes?
print(c1.most_common(30), "the most common name in the two classes") # 3 is indicating --- how many

# Separate the classes again
c1.subtract(class2)
print(c1.most_common(1))

# What's common between the two classes?
print((c1 & c2), "common between the two classes")

11 students in class 1
23 students in class 1 and 2
[('James', 3), ('Frank', 2), ('Bob', 1), ('Chad', 1), ('Darcy', 1), ('Penny', 1), ('HannahKevin', 1), ('Melanie', 1), ('Becky', 1), ('Steve', 1), ('Bill', 1), ('Barry', 1), ('Cindy', 1), ('Debbie', 1), ('Gabby', 1), ('Kelly', 1), ('Joe', 1), ('Sam', 1), ('Tara', 1), ('Ziggy', 1)] the most common name in the two classes
[('James', 2)]
Counter({'James': 1, 'Frank': 1}) common between the two classes

# Demonstrate the usage of defaultdict objects

A defaultdict works exactly like a normal dict, but it is initialized with a function (“default factory”) that takes no arguments and provides the default value for a nonexistent key.

A defaultdict will never raise a KeyError.

In [28]:
from collections import defaultdict

ice_cream = defaultdict(lambda: 'Vanilla')
ice_cream['Sarah'] = 'Chunky Monkey'
ice_cream['Abdul'] = 'Butter Pecan'
print(ice_cream['Tamim1'])

Vanilla

# Demonstrate how to use dictionary comprehensions

In [29]:
# define a list of temperature values
ctemps = [0, 12, 34, 100]

# Use a comprehension to build a dictionary
tempDict = {t: (t * 9/5) + 32 for t in ctemps if t < 100}
print(tempDict)

print("\n")

print(tempDict[12]) # access individual element
print(tempDict[34])

{0: 32.0, 12: 53.6, 34: 93.2}


53.6
93.2

# Use of Template

In [30]:
from string import Template

str1 = "Welcome to all {0} {1} {2} students!".format("AUST", "CSE", "4-2")
print(str1)

# create a template with placeholders
templ = Template("Welcome to all ${university} ${department} ${semester} students!")

# use the substitute method with keyword arguments
str2 = templ.substitute(university="AUST", department="CSE", semester="4-2")
print(str2)

# use the substitute method with a dictionary
data = {
    "university": "AUST",
    "department": "CSE",
    "semester": "4-2"
}
str3 = templ.substitute(data)
print(str3)

Welcome to all AUST CSE 4-2 students!
Welcome to all AUST CSE 4-2 students!
Welcome to all AUST CSE 4-2 students!